img{
  width: 300px;
}
.fetchedCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.be-the-same {
  width: auto;
}

/*img{
  padding: 40px auto;
}*/

body{
  font-family: 'Montserrat', sans-serif;
  color: purple;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 4em;
}

h1{
  text-align: center;
  color: #73B1DB;
}

/*.underBudgetList{
  height: 40px;
  width: 60%;
  text-align: center;
}*/

.searchword{
  height: 40px;
  width: 60%;
  border: 1px solid black;
}

button{
  background-color: #8993B8;
  color: white;
  border-radius: 10px;
  outline: none;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  font-size: 1em;
}
input{
  height: 100px;
}
